<label class="toggle-field">
  <div class="toggle-field__copy">
    <span class="toggle-field__title">{{ label }}</span>
    @if (description) {
      <small class="toggle-field__text">{{ description }}</small>
    }
  </div>
  <span class="toggle-field__switch">
    <input
      class="peer sr-only"
      type="checkbox"
      [checked]="checked"
      [disabled]="disabled"
      (change)="onChange($event)" />
    <span class="toggle-field__track"></span>
    <span class="toggle-field__thumb"></span>
  </span>
</label>
